*DS_Store
*.bak

###### Python ignores
*.py[code]

# Line profiler output
*.prof 

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/cover

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Profiles
*.lprof

# Sphinx documentation
doc/_build/

####### Cython ignores
pydigree/cydigree/*.c
pydigree/cydigree/*.html
pydigree/cydigree/*.cpp

####### C ignores

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

### Emacs gitignores

*~
[#]*[#]
.\#*

